
@{
    ViewBag.Title = "Cadastrar Aplicante";
}
@section scripts{

    <script>
        var urlPost = '@Url.Action("Incluir", "Aplicante", new { area = "" })';

         
         window.CPF = $(document).ready(function ()
         {
             @*var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';
             var urlAlteracaoBeneficiario = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';

             $("#CPF").mask("000.000.000-00");
             $('#CEP').mask('00000-000');*@
         });
    </script>

}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")